.form_container {
    height:  100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
   
    .form_div {
        margin-bottom: 10rem;
        width: 80%;
        margin: 0 auto;
        background: $blanco;
        border-radius: 10px;
        padding: 1rem;
        @include tablet{
            width: 50%;
        }
        @include desktop{
            width: 40%;
        }
        @include large-desktop{
            width: 30%;
        }
    }
    .form_field {
        margin-top: 2rem;
        label {
            width: 100%;
            text-align: center;
            font-weight: 700;
            margin: 0.5rem auto;
        }
        input {
            margin: 0.5rem auto 0 auto;
            width: 100%;
            border : none;
            box-sizing: border-box;
            padding: 0.7rem 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form_error {
            color : $rojo;
            font-weight: 600;
            margin: 0;
        }
        textarea {
            height: 150px;
            width: 100%;
            resize: none;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin: 0.5rem auto 0 auto;
        }
    }
    
    .form_btn {
        background: $azul;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        width: 100%;
        margin: 1rem auto 0 auto;
        display: block;
        &:hover {
            background: darken($azul, 10%);
            cursor: pointer;
        }
    }
}

